@import '/src/styles/functions/toRem.scss';

.genreLabel {
  font-size: toRem(15);
  margin-right: toRem(5);
}

.genreSelect {
  text-align-last: center;
  padding: toRem(2) toRem(10);
  border: toRem(1) solid #f07167;
  border-radius: toRem(3);
  font-size: toRem(14);
  appearance: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  
  &:hover {
    color: #fff;
    background: #f07167;
  }
}

.genreOption {
  &:nth-child(1) {
    display: none;
  }
}