@import "/src/styles/functions/toRem.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.quickModal {
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  width: toRem(400);
  height: toRem(300);
  padding: toRem(20);
  transform: translate(-50%, -50%);
  border-radius: toRem(20);
}

.close {
  position: absolute;
  right: 8%;
  bottom: 8%;
}

