@import "/src/styles/functions/toRem.scss";

.buttonContainer {
  display: flex;
  justify-content: center;
}

.addSongButton {
  width: toRem(170);
  height: toRem(40);
  margin-bottom: toRem(20);
  padding: toRem(8);
  border: toRem(1) solid #fdfcdc;
  border-radius: toRem(5);
  font-size: toRem(16);
  font-weight: 600;
  color: #fdfcdc;
  box-shadow: 0 toRem(5) toRem(15) #f07167;
  background: none;
  transition: all 0.1s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
    box-shadow: none;
  }
}

.caption {
  margin: 0;
  margin-bottom: toRem(20);
  text-align: center;
  color: #fdfcdc;
  text-shadow: 0 toRem(5) toRem(5) #f07167;
  user-select: none;
}