@import "/src/styles/functions/toRem.scss";

.buttonContainer {
  display: flex;
  justify-content: center;
}

.addSongButton {
  padding: toRem(8);
  border: toRem(1) solid #fdfcdc;
  border-radius: toRem(5);
  font-size: toRem(16);
  font-weight: 600;
  color: #fdfcdc;
  box-shadow: 0 toRem(5) toRem(5) #f07167;
  background: none;
  cursor: pointer;
}

.caption {
  text-align: center;
  color: #fdfcdc;
  text-shadow: 0 toRem(5) toRem(5) #f07167;
}