@import "/src/styles/functions/toRem.scss";

.container {
  // position: relative;
}

.song {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: toRem(25);
  margin-bottom: toRem(25);
}

.quickview {
  width: auto;
  min-width: toRem(70);
  height: toRem(25);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: toRem(300);
  min-width: toRem(250);
  min-height: toRem(40);
  margin-right: toRem(20);
  padding: toRem(10);
  border-radius: toRem(20);
  background: rgb(235, 235, 235);
}

.title {
  font-size: toRem(20);
}

.album {
  font-size: toRem(12);
}

.artist {
  font-size: toRem(16);
}