@import "/src/styles/functions/toRem.scss";

.song {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: toRem(15);
  width: 100%;
  min-width: toRem(250);

  @media (max-width: toRem(481)) {
    flex-wrap: wrap;
    margin-bottom: toRem(20);
  }
}

.link {
  display: block;
  width: 100%;
  max-width: toRem(550);
  min-width: toRem(200);
  color: black;
}

.viewButton {
  width: auto;
  min-width: toRem(70);
  height: toRem(25);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: toRem(5);
  width: calc(100% - 55px);
  padding: toRem(10) toRem(20);
  border-radius: toRem(5);
  box-shadow: 0 0 toRem(15) #f07167;
  background: rgb(235, 235, 235);
  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 toRem(10) #b8544c;
  }

  @media (max-width: toRem(481)) {
    justify-content: space-evenly;
    width: auto;
    min-height: toRem(50);
    margin-bottom: toRem(20);
  }
}

.importantInfo {
  display: flex;
  align-items: center;
}

.asd {
  margin: 0;
}

.title {
  font-size: toRem(16);
  font-weight: 600;

  @media (max-width: toRem(481)) {
    font-size: toRem(20);
  }
}

.artist {
  font-size: toRem(16);
  word-break: break-word;

  @media (max-width: toRem(481)) {
    font-size: toRem(20);
  }
}

.album {
  font-size: toRem(14);
  word-break: break-all;

  @media (max-width: toRem(481)) {
    font-size: toRem(18);
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: toRem(5);

  @media (max-width: toRem(481)) {
    flex-direction: row;
  }
}

.songButton {
  width: toRem(130);
  padding: toRem(4);
  border: toRem(1) solid #fdfcdc;
  border-radius: toRem(4);
  box-shadow: 0 toRem(5) toRem(5) #f07167;
  color: #fdfcdc;
  background: none;
  transition: all 0.1s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  &:active {
    transform: scale(.9);
    box-shadow: none;
  }
  
}

