@import "/src/styles/functions/toRem.scss";

.song {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: toRem(25);
  margin-bottom: toRem(25);
}

.link {
  display: block;
  width: 100%;
  max-width: toRem(550);
  min-width: toRem(200);
  color: black;
}

.viewButton {
  width: auto;
  min-width: toRem(70);
  height: toRem(25);
}

.info {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 100%;
  max-width: toRem(500);
  min-width: toRem(150);
  min-height: toRem(40);
  margin-right: toRem(20);
  padding: toRem(10);
  border-radius: toRem(5);
  box-shadow: 0 0 toRem(5) black;
  background: rgb(235, 235, 235);
}

.importantInfo {
  display: flex;
}

.title {
  font-size: toRem(20);
  font-weight: 600;
}

.artist {
  font-size: toRem(20);
}

.album {
  font-size: toRem(14);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: toRem(5);
}

.songButton {
  cursor: pointer;
}

