@import '/src/styles/functions/toRem.scss';

.filter {
  display: flex;
  justify-content: center;
  margin: toRem(20);
  margin-top: 0;
}

.searchField {
  width: 100%;
  min-width: toRem(200);
  max-width: toRem(550);
  height: toRem(20);
  padding: toRem(10) toRem(20);
  font-size: toRem(22);
  border: none;
  border-radius: toRem(5);
  box-shadow: 0 0 toRem(10) #fdfcdc;
  outline: none;

  @media (max-width: toRem(481)) {
    text-align: center;
  }

  &::placeholder {
    font-size: toRem(20);
    color: rgba(0, 0, 0, .7);
  }
}